{
  "rules": {
    "max-len": [
      2,
      100,
      {
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
      }
    ],
    "no-unused-vars": [
      2,
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "arrow-body-style": [
      2,
      "always"
    ],
    "newline-per-chained-call": [
      2,
      {
        "ignoreChainWithDepth": 10
      }
    ],
    "array-bracket-spacing": [
      2,
      "always",
      {
        "arraysInArrays": false,
        "objectsInArrays": false,
        "singleValue": true
      }
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "comma-dangle": [
      0
    ],
    "no-nested-ternary": [
      0
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-underscore-dangle": [
      0
    ],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ]
}
