.analytics-instance-form .ui.form {
  width: 100%;
  padding: 20px;
}

.analytics-instance-form .actions {
  padding-right: 0;
}

.analytics-instance-form .ui.form .field > label {
  color: var(--black);
}
