# The project name.
NAME='FAR-EDGE Analytics Dashboard'

# The environment.
# Allowed values: development, production, staging, test
NODE_ENV=development

# The port where the webpack dev server listens for connections.
PORT=8000

# The base URL to the FAR-EDGE Open API for Analytics.
OPEN_API_FOR_ANALYTICS_BASE_URL='http://localhost:4444/api'

# The base URL to the FAR-EDGE Model Repository.
MODEL_REPOSITORY_BASE_URL='http://localhost:8888/api'
