.ui.button,
.ui.button:hover,
.ui.button:focus,
.ui.button:active {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 400;
  font-size: 0.9rem;
}

.ui.segment {
  border: none;
  box-shadow: none;
  font-size: 0.9rem;
  padding: 0;
}

.ui.menu {
  font-size: 0.9rem;
}

i.icon {
  font-size: 0.9em;
}

.ui.form .field > label,
.ui.form .inline.field > :first-child,
.ui.form .inline.fields .field > :first-child {
  margin-bottom: 0.5rem;
}

.ui.multiple.dropdown > .label {
  font-weight: 400;
  font-size: 0.9em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ui.statistic > .value ~ .label,
.ui.statistics .statistic > .value ~ .label {
  text-transform: none;
  color: var(--blue);
}
